body{
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
   
}
h1{
    text-align: center;
    color: rgb(39, 2, 2);
}
form{
    max-width: 600px;
    margin:auto;
    background-color: rgb(233, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px;
}
fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color:rgb(241, 255, 250);
    border: 3px solid rgb(80, 146, 146);
}
legend{
    font-weight: bold;
    color: darkslategray;
}
label{
    margin-top: 10px ;
    color: darkslategray;
}
input,textarea{
    width:calc(100% - 16px) ;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid skyblue;
    outline: none;
}
button{
    width: 100%;
    font-size: 18px;
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    background-color: lightskyblue;
}
button:hover{
    background-color: darkcyan;
}
#resume-display{
    max-width: 600px;
    margin:auto;
    background-color: lightcyan;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px;
}




